.titulo__cont {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.text__detail {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hrs {
    width: 30%;
    border: none;
    height: 1px;
    background-color: #494949;
}

.text__prod {
    font-size: 30px;
    color: #F71963;
}

.prod__relacionados {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
}


@media screen and (max-width: 835px) {
    .text__prod {
        margin: 0;
    }

    .titulo__cont {
        text-align: center;
    }

    .text__detail {
        justify-content: center;
        align-items: center;
    }
}